<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nacionalidad</th>        
                <th scope="col">Editorial</th>  
                <th scope="col">Idioma</th>    
                <th scope="col">Editar</th>  
                <th scope="col">Eliminar</th>     
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td><span class="glyphicon glyphicon-refresh"></span></td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
              </tr>
             
            </tbody>
          </table>
    </div>
</div>